<div class="fullscreen-image-section" appVisibility tabindex="0">
  <div  class="fullscreen-image">
    <img src="assets/images/projects2.jpg" alt="Nick Toledo" class="fullscreen-image">
  </div>

    <!-- Imagen circular -->
    <div class="image-container" appVisibility tabindex="0">
      <img src="assets/images/yo.jpg" alt="Nick Toledo" class="profile-image">
    </div>


  <div class="image-overlay" appVisibility tabindex="0">
    <h1>Nick Toledo</h1>
    <h2>Proyectos</h2>
    <p>Bienvenidos</p>
  </div>
</div>

<div class="projects-container">
  <!-- Encabezado -->
  <div class="header">
    <h1>Mis Proyectos</h1>
    <p>Explora algunos de los proyectos en los que he trabajado.</p>
  </div>

  <div>
      <!-- Video -->
    </div>
    <h2>Auto-atención</h2>
    <div class="media-gallery">
      <!-- Video -->
      <video src="assets/videos/projects/boloco.mp4" controls></video>
    </div>
    <h2>React Native</h2>
    <div class="media-gallery">
      <video src="assets/videos/projects/proyectoreactn01.mp4" controls></video>
      <!-- Imagen -->
      <img src="assets/images/projects/movile/map01.jpg" alt="movile project">
      <img src="assets/images/projects/movile/map02.jpg" alt="movile project">
      <img src="assets/images/projects/movile/user01.jpg" alt="movile project">
    </div>

    <h2>Hidesk - sistema de contratos y facturación</h2>
      <div>
        <p>
          Hidesk es un sistema integral de administración empresarial diseñado específicamente para gestionar todas las operaciones de
          <strong>Himce S.A.</strong>. Este proyecto nació de la necesidad de sustituir el manejo manual con Excel, proporcionando
          una solución robusta que cubre todos los aspectos de la empresa. Actualmente, Hidesk se utiliza para administrar
          múltiples sucursales y departamentos en todo el país.
        </p>
        <p>
          Entre sus funcionalidades principales, Hidesk permite la creación y gestión de contratos, generación de informes de
          facturación, y un control centralizado para servicios ofrecidos por Himce S.A., como el arriendo de baños químicos,
          servicios de seguridad, servicios especiales, y servicios de aseo.
        </p>
        <p>La suite de opciones del sistema incluye:</p>
        <ul>
          <li><strong>Administración:</strong> Descarga de documentos, gestión de clientes, sucursales, obras, artículos, servicios de contrato, usuarios, perfiles, correos, e instalaciones (como baños químicos).</li>
          <li><strong>MIG Seguridad:</strong> Modificación de contratos, facturación general y por sucursal, y estado de contratos en este departamento.</li>
          <li><strong>Servicios Especiales:</strong> Gestión de contratos, facturación general y por sucursal, y estado de contratos específicos.</li>
          <li><strong>Aseo:</strong> Creación y edición de contratos, facturación, y seguimiento de contratos.</li>
          <li><strong>Autorización de Contratos:</strong> Validación y autorización de contratos en todos los departamentos (baños químicos, seguridad, servicios especiales, y aseo).</li>
          <li><strong>Supervisión:</strong> Monitoreo de operaciones.</li>
          <li><strong>Gestión de Vehículos:</strong> Control y asignación de flota.</li>
          <li><strong>Tickets:</strong> Seguimiento y resolución de solicitudes internas.</li>
        </ul>
        <p>
          Este sistema ha permitido a Himce S.A. optimizar procesos, garantizar un mejor control operativo, y centralizar
          todas las operaciones de manera eficiente y segura.
        </p>
        <app-gallery-hidesk></app-gallery-hidesk>
      </div>

    <h2>E-commerce</h2>
      <div>
        <p>
          Este proyecto fue desarrollado como una solución personalizada para la venta de productos de belleza.
          Construido utilizando <strong>Laravel</strong> y <strong>Vue.js</strong>, cuenta con integración certificada
          con <strong>Transbank</strong> para aceptar todos los medios de pago digitales. Fue desplegado en servidores
          <strong>AWS Linux</strong> y gestionado mediante <strong>Git</strong> en <strong>GitHub</strong>.
          Entre sus funcionalidades se destacan:
        </p>
        <ul>
          <li>Pantalla de inicio con productos categorizados por marcas y promociones.</li>
          <li>Carrito de compras intuitivo y fácil de usar.</li>
          <li>Sistema de intranet con roles y permisos para gestionar productos, usuarios y ventas.</li>
          <li>Pago seguro mediante Transbank y certificados SSL.</li>
        </ul>
        <app-gallery-ecommerce></app-gallery-ecommerce>
      </div>


  <!-- Sección de proyectos con código -->
  <div class="code-section">
    <h2>Proyectos con Código</h2>
    <div class="code-item">
      <h3>Snake Angular</h3>
      <pre>
        <code>
       {{CodigoSnake}}</code>
      </pre>

    </div>
  </div>

  <!-- Enlaces adicionales -->
  <div class="links-section">
    <h2>Enlaces Relevantes</h2>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
