<mat-toolbar class="toolbar">
  <div class="menu-items">
    <button mat-button routerLink="/" routerLinkActive="active" class="mat-color-white" (click)="navigateTo('/')">
      <mat-icon class="mat-color-white">home</mat-icon> <span class="mat-color-white">Inicio</span>
    </button>
    <button mat-button routerLink="/sobre-mi" routerLinkActive="active" class="mat-color-white" (click)="navigateTo('/sobre-mi')">
      <mat-icon class="mat-color-white">person</mat-icon> <span class="mat-color-white">Sobre Mi</span>
    </button>
    <button mat-button routerLink="/proyectos" routerLinkActive="active" class="mat-color-white" (click)="navigateTo('/proyectos')">
      <mat-icon class="mat-color-white">work</mat-icon> <span class="mat-color-white">Proyectos</span>
    </button>
    <button mat-button routerLink="/habilidades" routerLinkActive="active" class="mat-color-white" (click)="navigateTo('/habilidades')">
      <mat-icon class="mat-color-white">stars</mat-icon> <span class="mat-color-white">Habilidades</span>
    </button>
    <button mat-button routerLink="/contacto" routerLinkActive="active" class="mat-color-white" (click)="navigateTo('/contacto')">
      <mat-icon class="mat-color-white">email</mat-icon> <span class="mat-color-white">Contacto</span>
    </button>
  </div>

  <span class="example-spacer"></span>

  <!-- Iconos -->
  <button mat-icon-button class="example-icon favorite-icon mat-color-white" aria-label="Favorite" (click)="toggleFavorite()">
    <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
  </button>
  <button mat-icon-button class="example-icon mat-color-white" aria-label="Share" (click)="share()">
    <mat-icon>share</mat-icon>
  </button>

  <!-- Icono de menú para pantallas pequeñas -->
  <button mat-icon-button class="menu-icon" aria-label="Menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
