<div class="fullscreen-video-section" >
  <!-- Video de pantalla completa -->
  <video autoplay muted loop class="fullscreen-video">
    <source src="assets/videos/DJI_0796_02.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Imagen circular -->
  <div class="image-container" appVisibility tabindex="0">
    <img src="assets/images/yo.jpg" alt="Nick Toledo" class="profile-image">
  </div>

  <div class="video-overlay" appVisibility tabindex="0">
    <h1>Nick Toledo</h1>
    <h2>Sobre Mi</h2>
    <p>Bienvenidos</p>
  </div>
</div>

<!-- Secciones del cuerpo -->
<div class="content-section">
  <div class="container" appVisibility tabindex="0">
    <div class="column experience" appFocusClass tabindex="0" >
      <h2>Experiencia</h2>
      <ul>
        <li><strong>NTTDATA (2021 - 2024)</strong>: Desarrollo y mantenimiento de software legado, ZK Framework.</li>
        <li><strong>Bruno Fritsch (2019 - 2021)</strong>: Integraciones REST, documentación Swagger, autoatención.</li>
        <li><strong>HIMCE LTDA (2018 - 2019)</strong>: Laravel 5.x, redes y mantenimiento.</li>
      </ul>
    </div>
    <div class="column skills" appFocusClass tabindex="0">
      <h2>Habilidades</h2>
      <ul>
        <li><strong>Lenguajes:</strong> Java, PHP, JavaScript, SQL, C#</li>
        <li><strong>Frameworks:</strong> Laravel, Vue.js, ZK Framework, angular 16++</li>
        <li><strong>Infraestructura:</strong> AWS, Azure, Azure DevOps, servidores</li>
        <li><strong>Control de Versiones:</strong> Git</li>
        <li><strong>Modalidad de Trabajo:</strong> Scrum</li>
      </ul>
    </div>
    <div class="column contact" appFocusClass tabindex="0">
      <h2>Contacto</h2>

      <div class="contact-icons">
        <a href="https://www.linkedin.com/in/nick-toledo/" target="_blank" aria-label="LinkedIn">
          <mat-icon fontIcon="linkedin" class="mat-icon-large"></mat-icon>
        </a>
        <a href="mailto:n.toledo.ulloa@gmail.com" aria-label="Correo">
          <mat-icon fontIcon="mail" class="mat-icon-large"></mat-icon>
        </a>
      </div>
      <h3>Proyectos</h3>
      <ul>
        <li>Integración con Transbank.</li>
        <li>Autoatención Bruno Fritsch.</li>
        <li>Desarrollo freelance en Laravel 8.</li>
      </ul>
    </div>
  </div>

  <!-- Nueva sección: Valores laborales -->
  <div class="values-section" >
    <div class="values-content" appVisibility tabindex="0">
      <h2>Valores Laborales</h2>
      <ul>
        <li><strong>Trabajo en equipo:</strong> Colaboración efectiva con equipos multidisciplinarios para alcanzar objetivos comunes.</li>
        <li><strong>Compromiso:</strong> Dedicación total a cada proyecto y responsabilidad en el cumplimiento de plazos.</li>
        <li><strong>Adaptabilidad:</strong> Capacidad para ajustarse a nuevas tecnologías y cambios en el entorno laboral.</li>
        <li><strong>Resolución de problemas:</strong> Enfoque práctico para resolver desafíos y encontrar soluciones eficaces.</li>
      </ul>
    </div>
    <div class="approved-image">
      <img src="../../assets/images/approved.jpg" alt="Marca de agua" class="profile-image">
    </div>
  </div>


</div>
