<div class="fullscreen-image-section" appVisibility tabindex="0">
  <div  class="fullscreen-image">

  </div>

    <!-- Imagen circular -->
    <div class="image-container" appVisibility tabindex="0">
      <img src="assets/images/yo.jpg" alt="Nick Toledo" class="profile-image">
    </div>


  <div class="image-overlay" appVisibility tabindex="0">
    <h1>Nick Toledo</h1>
    <h2>Habilidades</h2>
    <p>Bienvenidos</p>
  </div>
</div>


<div class="skills-section" >
  <h2>Habilidades</h2>
  <div class="skills-columns" appVisibility tabindex="0">
    <section>
      <h2>Habilidades Técnicas</h2>
      <ul class="skills-list">
        <li class="fa fa-code" appFocusClass tabindex="0">
        <span >Angular</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>React Native</span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Laravel</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>php</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>C#</span>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>JavaScript</span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>TypeScript</span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Node.js</span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Vuejs</span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Java</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>

      <li appFocusClass tabindex="0">
        <span>ZK Framework</span>
        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Spring Framework</span>
        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>SQL</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>MySQL</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>PostgreSQL</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>SQLServer</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Git</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Azure</span>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>DevOps</span>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
      </li>
      <li appFocusClass tabindex="0">
        <span>Scrum</span>
        <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
      </li>

      <li appFocusClass tabindex="0">
        <span>Python</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </li>
    </ul>
    </section>

  <!-- Habilidades blandas -->
  <section appVisibility tabindex="0">
    <h2>Habilidades Blandas</h2>
    <ul class="skills-tags">
      <li><i class="fa fa-users"></i> Trabajo en equipo</li>
      <li><i class="fa fa-lightbulb"></i> Resolución de problemas</li>
      <li><i class="fa fa-arrows-alt"></i> Adaptabilidad</li>
      <li><i class="fa fa-comment"></i> Comunicación efectiva</li>
    </ul>
  </section>

</div>
</div>
